<?xml version="1.0"?>

<model>
  <name>Fixed sensor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Francesco Vultaggio</name>
    <email>Francesco.Vultaggio@ait.ac.at</email>
  </author>
  

  <maintainer email="Francesco.Vultaggio@ait.ac.at">Francesco Vultaggio</maintainer>


  <description>
    just a test to verify that the plugin works
  </description>
</model>
